body {

}
#grid-container {
    max-width: min-content ;
    max-height: min-content;
    display: grid;
    grid-template-columns: repeat(16,1fr);

}
.canvas {
    padding: 15px;
    background-color: #ccc;
    border: 1px solid black;
}
