.title-container {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}
#button-container.container {
    justify-content: center;
    gap:10px
}
.board-buttons {
    background-color: #f44336;
}
#grid-container {
    display: grid;
}
.canvas {
    padding: 2px;
    background-color: #ccc;
}
.


