@font-face {
    font-family:space-bold;
    src: url(fonts/SpaceGrotesk-Bold.ttf);
}
@font-face {
    font-family:sidefont;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.title-container {
    text-align: center;
}
.title {
    font-family:;
}
.container {
    display: flex;
    justify-content: center;
}
#button-container.container {
    justify-content: center;
    gap:10px
}
.board-buttons {
    background-color: #b8212b;
    font-family:sidefont;
    font-size: 12px;
    text-align: center;
    color:#dfebf2 ;
    padding: 10px 20px;
    border: 1px solid;
    transition-duration: 0.5s;
}

#blackPen.board-buttons:hover {
    background-color: #dfebf2;
    color:black;
    border: 1px solid black;

}

.board-buttons:hover {
    background-color: #dfebf2;
    color:#b8212b;
    border: 1px solid #b8212b;

}
#grid-container {
    display: grid;
}
.canvas {
    padding: 2px;
    background-color: #ccc;
}
.


